<script>

$(document).ready(function() {
    var table = $('#ndtable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                text: 'All',
                className: 'btn btn-info',
                action: function () {
                  table.columns(3).search("").draw();
                }
            },
            {
                text: 'Open',
                className: 'btn btn-danger',
                action: function () {
                  table.columns(3).search("open").draw();
                }
            },
            {
                text: 'In Progress',
                className: 'btn btn-warning',
                action: function () {
                  table.columns(3).search("In Progress").draw();
                }
            },
            {
                text: 'Complete',
                className: 'btn btn-success',
                action: function () {
                  table.columns(3).search("Complete").draw();
                }
            }
        ]
    } );
} );

</script>

<% if @nodes.empty? %>
<% else %>
<table id="ndtable" class="display" style="width:100%">
<thead>
    <tr>
      <th>OS</td>
      <th>Machine</th>
      <th>IP</td>
      <th>Status</td>
    </tr>
</thead>
<tbody>
<% @node.children.each do |node| %>
  <tr>
    <td class="text-center">
      <% if node.type_id == Node::Types::WINDOWS %>  
        <i class="fa fa-lg fa-windows"></i>
      <% end %>
      <% if node.type_id == Node::Types::LINUX %>  
        <i class="fa fa-lg fa-linux"></i>
      <% end %>
    </td>
    <td>
      <%= link_to main_app.project_node_path(node.project, node), title: node.label, data: { behavior: 'sidebar-link' } do %>
        <%= node.label %>
      <% end %>
    </td>
    <td><%= node.ip %></td>
    <td>
      <% if node.status == 'Open' %>  
        <button class="btn btn-danger w-100"><%= node.status %></button>
      <% end %>
      <% if node.status == 'In Progress' %>  
        <button class="btn btn-warning w-100"><%= node.status %></button>
      <% end %>
      <% if node.status == 'Complete' %>  
        <button class="btn btn-success w-100"><%= node.status %></button>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
<tfoot>
    <tr>
      <th>OS</td>
      <th>Machine</th>
      <th>IP</td>
      <th>Status</td>
    </tr>
</tfoot>
</table>

<% end %>
