
<% if @nodes.empty? %>
<% else %>
<div class="header_wrap">
  <div class="tb_search">
    <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
  </div>
</div>
<div class="table-container">
  <div class="node-info">
    <table class="table table-striped table-bordered" id= "table-id">
      <thead>
        <col width="1%">
        <col width="50%">
        <col width="10%">
        <col width="10%">
        <tr>
          <th data-sort="string">OS</td>
          <th data-sort="string">Machine</th>
          <th data-sort="string">IP</td>
          <th data-sort="string">Status</td>
        </tr>
      </thead>
      <tbody>
        <% @node.children.each do |node| %>
          <tr>
            <td class="text-center">
              <% if node.type_id == Node::Types::WINDOWS %>  
                <i class="fa fa-lg fa-windows"></i>
              <% end %>
              <% if node.type_id == Node::Types::LINUX %>  
                <i class="fa fa-lg fa-linux"></i>
              <% end %>
            </td>
            <td>
              <%= link_to main_app.project_node_path(node.project, node), title: node.label, data: { behavior: 'sidebar-link' } do %>
                <%= node.label %>
              <% end %>
            </td>
            <td><%= node.ip %></td>
            <td>
              <% if node.status == 'Open' %>  
                <button class="btn btn-danger w-100"><%= node.status %></button>
              <% end %>
              <% if node.status == 'In Progress' %>  
                <button class="btn btn-warning w-100"><%= node.status %></button>
              <% end %>
              <% if node.status == 'Complete' %>  
                <button class="btn btn-success w-100"><%= node.status %></button>
              <% end %>
            </td>
          </tr>
          <% end %>
      <tbody>
    </table>
  </div>

  <!--		Start Pagination -->
  <div class='pagination-container'>
    <nav>
      <ul class="pagination">
        <!--	Here the JS Function Will Add the Rows -->
      </ul>
    </nav>
  </div>
</div>
<% end %>
